<div id="cart_show">
<% if @order_items.size == 0 %>
  <p>
    Le panier est vide.  Merci de <%= link_to "cliquer ici", categories_path %> et d'ajouter des produits à votre panier.
  </p>
<% else %>
<table> 
	<tr>
		<th></th>
		<th>Marque</th>
		<th>Modèle</th>
		<th>Taille</th>
		<th>Prix</th>
		<th></th>
	</tr>
	<% @order_items.each do |order_item| %>
		<tr>
			<td>
			<%=image_tag(order_item.item.photos[0] + "_tiny.jpg") %> </td>
			
			<td><%= order_item.item.marque %></td>
			<td><%= order_item.item.description %></td>
			<td>taille : <%= order_item.taille %></td>
			<% if order_item.item.promotion == nil %>
			<td><%= order_item.item.prix %> €</td>
			<% else %>
			<td><%= order_item.item.prix_after %> € <br>
					remise <%= order_item.item.promotion %> % incluse
			</td>
			<%end%>
<td> <%= link_to "Supprimer", order_item, { data: { confirm: "Etes vous sûr de vouloir supprimer '#{order_item.item.description}' de votre panier ?" }, method: :delete} %></td>
</tr>

	<% end %>
	</table>
<% end %>
<% if @order_items.size != 0 %>
<table id="total">
	<tr>
		<td>frais de port :</td>
	 	<td><%= @shipping %> €</td>
	</tr>
	<tr>
		<td>total : </td>
		<td><%= @total %> €</td>
	</tr>
</table>
<%= link_to "Commander", cart_path, :method => :put, class: "command" %>
<%end%>

</div>
<script>
$(function(){

			$("header").css("height", "85px");
	$("#green_layer").hide();
});
</script>

