<h1 class="titleh1">Nouvel article</h1>
<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
      <h2 class="titre_erreur"><%= pluralize(@item.errors.count, "erreur(s)") %> empêche(nt) la création de l'utilisateur :</h2>

      <% @item.errors.each do |message, error| %>
        <p class="error_code">- <%= error %></p>
      <% end %>
        <% end %>
  <div class="field">
    <%= f.label :marque %>
    <%= f.text_field :marque %>
    <br/>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
    <br/>
  </div>
  <div class="field">
    <%= f.label :prix %>
    <%= f.text_field :prix %>
    <br/>
  </div>
  <div class="field">
    <%= f.label :promotion %>
    <%= f.text_field :promotion %>
    <br/>
  </div>
  <div class="field">
    <%= f.label :prix_after %>
    <%= f.text_field :prix_after %>
    <br/>
  </div>
  <div class="field">
    <%= f.label :photos %>
    <%= f.text_field :photos %>
    <br/>
  </div>
  <div class="field">
    <%= f.label :tailles %>
    <%= f.text_field :tailles %>
        <br/>
  </div>
  <div class="field">
    <%= f.label :category_id %>
    <%= f.text_field :category_id %>
    <br/>
  </div>
  <div class="actions">
    <%= f.submit %>
    <br/>
  </div>
<% end %>

<script>
$(function(){
        $("header").css("height", "85px");
  $("#green_layer").hide();
});
</script>
