<div id="path_categories">
	<span class="link"><%=link_to "Zebra / ", root_path%><%= link_to "category ",categories_path()%></span>
</div>
	<h3> Category :</h3>
	<div id="category">

		<% @categories.each do |cat| %>
		<%= link_to cat.name, category_path(cat) %> > <br>

		<% end %>
	</div>
	<div id="main_show">
	
		<% @categories.each do |cat| %>
		<% cat.items.each do |item| %> 

		<figure>
			<%=link_to(image_tag(item.photos[0] + "_small.jpg"), item_path(item)) %>
			<figcaption>
				<%= link_to item.marque, item_path(item)%> <br>
				<%= link_to item.description, item_path(item)%> <br>
				<% if item.promotion == nil %>
				<span class="price"><%= item.prix %> €</span>
				<% else %>
				
					<s><%= item.prix %> € </s><br>

					- <%= item.promotion %> % de remise <br>
					<span class="price"><%= item.prix_after %> €</span>
					
					
					<% end %>
				</figcaption>	
			</figure>
			<% end %>
			

			<% end %>

		</div>
		<script>
$(function(){
			$("header").css("height", "85px");
	$("#green_layer").hide();

});
</script>