<h1 class="titleh1">Nouvelle catégorie</h1>

<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>      
      <% @category.errors.each do |message, error| %>
         <p class="titre_erreur">- <%= error %></p>
      <% end %>

  <% end %>
  <div class="field">
    <%= f.label :name, value:"Nom de catégorie" %>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= submit_tag "Valider" %>
  </div>
<% end %>

<script>
$(function(){
        $("header").css("height", "85px");
  $("#green_layer").hide();
});
</script>
