<%= form_for(@category) do |f| %>
  <ul>
  <% @category.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<script>
$(function(){
        $("header").css("height", "85px");
  $("#green_layer").hide();
});
</script>
