<h3> Category :</h3>
<div id="category">
	<%= @category.name %> > <br>
	<%= link_to "<	 Retour", categories_path(:anchor => "category")%>
</div>
<div id="main_show">
	<% @category.items.each do |item| %> 

		<figure>
			<%=image_tag(item.photo + "_small.jpg") %>
			<figcaption>
				<%= item.name %> <br>
				<span class="price"><%= item.price %> €<span>
			</figcaption>	
		</figure>
	<% end %>
</div>