<!DOCTYPE html>
<html>
<head>
  <title>Zebra</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
			
		<header>

			<div id="top_conteneur">
				<img id="logo" src="/images/ZEBRA.png" alt="logo du site">
				<nav>
					<ul>
						<li><%= link_to "Accueil", root_path %></li>
						<li><%= link_to "Articles", categories_path() %>
							<ul>
								<div id="product_menu">
					<table id="table_index">
						<tr>
							<td><img id="logo_sub_menu" src="/images/ZEBRA_0.png" alt=""></td>

							<td rowspan="2">
								<% @categories.each do |cat| %>
								<%= link_to cat.name, category_path(cat), class: "menu_on" %>

								<%end%>

							</td>
							
						</tr>
						<tr>							
							<td><img id="img_sub_menu" src="/images/tie2.png" alt=""></td>								
						</tr>
					</table>
				</div>
							</ul>
						</li>				
						<li><%= link_to (image_tag ("/images/Shape1.png"), class: "img_cart"), cart_path() %>
						<%= render 'layouts/cart_text' %></li>
						<li><%= link_to "Compte", accounts_path %></li>
						<li id="utilisateur">
							<% if logged_in? %>
          						<%= "Bonjour #{current_user.username}" %>
						          <%= link_to "/ Déconnection", logout_path %>
						    <% else %>
						    	 <%= link_to "( Enregistrer /", new_user_path %>
						          <%= link_to "Connecter )", login_path %>
						    <% end %>
						</li>
					</ul>
				</nav>

			</div>
			<div id="green_layer">
				<img id="introducing" src="/images/Introducing.png" alt="">
				<img id="wild_eyes" src="/images/Wildeyes.png" alt="">
			</div>
		</header>
<% if notice.present? %>
	<p class="flash"><strong><%= flash.notice %></strong></p>	
<% end %>
<%= yield %>
		<footer>
			<div id="foot_conteneur">
				<img id="foot_logo" src="/images/ZEBRAcopy.png" alt="">		
				<img id="facebook" src="/images/facebookicon.png" alt="">				
				<img id="twitter" src="/images/twitter.png" alt="">				
				<img id="rss" src="/images/rss.png" alt="">				
				
			
			</div>
		</footer>
</body>
</html>
<script>
$(function(){
	$('.flash').delay(4000).fadeOut();
});
</script>
